# API Gateway Port
PORT=3000

# Pinata IPFS Keys
PINATA_JWT=your_pinata_jwt_here
PINATA_GATEWAY=your_pinata_gateway_url_here

# Africa's Talking Credentials
AT_USERNAME=sandbox
AT_API_KEY=your_at_api_key_here

# Hyperledger Fabric Connection (Internal use)
# Paths are currently mapped to the local test-network setup.
